* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0c0ce94d;
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fde3a7d7;
    padding: 1rem;
}

.form-image img {
    width: 31rem;
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.form-header h1::after {
   content: '';
   display: block;
   width: 5rem;
   height: 0.3rem;
   background-color: #6c63ff;
   margin: 0 auto; 
   position: absolute;
   border-radius: 10px;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color: #6c63ff;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button butto:hover{
    background-color: #6b63fff1;
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #00001c;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1.7px solid #6c63ff;
}

.input-box label,
.gender-titles h6 {
    font-size: 0.75rem;
    font-weight: 700;
    color:#000000c0;
}

.input-box input::placeholder{
    color: #000000be;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: 1rem;
}

.continue-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.continue-box button {
    width: 90%;
    height: 5vh;
    border-radius: 10px;
    cursor: pointer;
    background-color: #6c63ff;
    border: none;
}

.continue-box button a {
    text-decoration: none;
    color: #fff; 
}

@media screen and (max-width: 1353px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1093px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .form-header {
        display: flex;
        flex-direction: column;
    }

    .form-header h1 {
        font-size: 0.8rem;
        margin-bottom: 0.9rem;
    }
    
    .input-box input {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;

    }

    .gender-group {
        display: flex;
        flex-direction: column;
    }

    .gender-input {
        padding-bottom: 1rem;
    }
}